# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/

# IDE & Editor files
.vscode/
.idea/
*.swp

# Distribution & build outputs
dist/
build/
*.egg-info/
